{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "bracesSpacing": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "extends": ["airbnb"]
}
